.profile-page {
  .page-wrapper {
    min-height: calc(100vh - 64px);
    background: $base-backgroud-color;
  }

  .page-body {
    width: 800px;
    max-width: 100vw;
    margin: 0 auto;
    padding: 12px;
    overflow: auto;

    /* md */
    @media screen and (min-width: 970px) {
      padding: 30px;
    }

    .body-toolbar {
      display: flex;
      justify-content: flex-end;
      padding: 0 4px 20px 4px;

      .toolbar-btn {
        font-weight: 450;
        color: $regular-text-color;
        background-color: $grey-backgroud-color;

        &.btn--public {
          background-color: $primary-color;
          color: white;
        }
      }
    }

    .body-head {
      .head__avatar {
        height: 90px;
        width: 90px;
        clip-path: circle(50% at 50% 50%);
      }

      .head__name {
        font-size: 1.5rem;
        font-weight: 850;
        margin-right: 12px;
      }

      .head__age {
        font-size: .9rem;
      }

      .head__description {
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }

    .body-content {
      .content__title {
        font-size: 1.15rem;
        font-weight: 700;
        margin-bottom: 18px;

        /* md */
        @media screen and (min-width: 970px) {
          margin-bottom: 36px;
        }
      }

      .content-body {
        &.body-list.list-split {
          .list__item {
            border-block-end: 1px solid rgba(5,5,5,.06);

            &:last-child {
              border-block-end: none !important;
            }
          }
        }

        .list__item {
          padding: 14px 0;
          position: relative;

          /* md */
          @media screen and (min-width: 970px) {
            padding: 28px 0;
          }

          .item-logo {
            height: 64px;
            width: 64px;
            border-radius: 12px;
            margin-bottom: 16px;

            /* md */
            @media screen and (min-width: 970px) {
              margin-bottom: 0;
            }
          }

          .item-actions {
            position: absolute;
            right: 0;
            top: 12px;
            z-index: 2;

            /* md */
            @media screen and (min-width: 970px) {
              top: 20px;
            }

            .action__btn {
              font-size: 1rem;
            }
          }

          .item-main {
            // position: relative;

            // .main-actions {
            //   position: absolute;
            //   right: 0;
            //   top: -4px;

            //   .action__btn {
            //     font-size: 1rem;
            //   }
            // }

            .main__title {
              color: $main-text-color;
              font-size: 1.25rem;
              font-weight: 550;
              margin-bottom: 8px;
            }

            .main__company {
              color: $main-text-color;
              font-size: 1rem;
              font-weight: 400;
              margin-bottom: 8px;
            }

            .main__timeline {
              color: $secondary-text-color;
              font-size: 1rem;
              font-weight: 400;
              margin-bottom: 12px;
            }

            .main__description {
              color: $regular-text-color;
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.45rem;
            }
          }
        }

        .empty__item {
          color: $secondary-text-color;
          text-align: center;
          padding: 40px 0;
        }
      }
    }
  }

  .page-private, .page-passcode {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    min-height: calc(100vh - 64px);
    padding-bottom: 10vh;
  }

  .page-passcode {
    .__wrapper {
      width: 600px;
      max-width: 80vw;
      margin: 0 auto;

      .passcode__title {
        font-size: 1.25rem;
        color: $main-text-color;
        text-align: center;
        font-weight: 800;
        margin-bottom: 24px;
      }
  
      .passcode__body {
        width: 400px;
        max-width: 80vw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;

        input {
          text-align: center;
          font-size: 1.45rem;
          margin-bottom: 20px;

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          &[type="number"] {
            -moz-appearance: textfield;
          }
        }
      }
    }
  }
}