.portal-navheader {
  .portal-navheader-wrapper {
    display: flex;
    align-self: center;
    height: 64px;
    padding: 6px 12px;
    border-bottom: 1px solid $base-border-color;

    /* md */
    @media screen and (min-width: 970px) {
      padding: 12px 24px;
    }
  }

  .header-logo {
    display: flex;
    align-items: center;

    img {
      height: 24px;

      /* md */
      @media screen and (min-width: 970px) {
        height: 30px;
      }
    }
  }

  .header-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .action__btn {
      font-weight: 500;

      &:first-child {
        margin-right: 8px;
      }  
    }
  }
}