// theme color
$primary-color: #1677FF;
$primary-dark-color: #0958d9;

// text color
$main-text-color: #212121;
$regular-text-color: #606266;
$secondary-text-color: #909399;
$placeholder-text-color: #C0C4CC;

// background color
$base-backgroud-color: #fafafa;
$grey-backgroud-color: #eeeeee;

// border color
$base-border-color: #e8e8e8;

// box shadow
$box-shadow: 0 2px 4px 0 hsla(0,0%,87.1%,.5);

// trainsition
$quick-transition: all .3s ease;

// ellipsis
$ellipsis-scales: 1, 2, 3;